html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
	body
			//- (style="background-color:black; color:white; text-align: center; font-family: helvetica")
	nav.navbar.navbar-light.bg-faded
		a.navbar-brand(href='/') User Info App
		button.btn.btn-danger.navbar-btn.navbar-right(style='margin-right:10',type='button', onclick="location.href='/search';") Search User
		button.btn.btn-warning.navbar-btn.navbar-right(style='margin-right:10',type='button', onclick="location.href='/newUser';") Add User
		button.btn.btn-success.navbar-btn.navbar-right(type='button', onclick="location.href='/';") All Users

//- .container
//- 		.row
//- 			.col-xs-6.offset-xs-3
//- 				form(action='/matching', method="post" style="font-size: 15px")
//- 					br
//- 					h4 Searchform
//- 					br
//- 					.form-group.row
//- 						label.col-sm-2.col-form-label(for='inputName') Name
//- 						.col-sm-10
//- 							input#inputName.form-control(type='text', name='input', placeholder='type name here')
//- 							br
//- 							button.btn.btn-primary.navbar-btn.navbar-right(type='submit') Submit


.container
		.row
			.col-xs-6.offset-xs-3
				form(action='/', method="post")
					br
					h4 Add new user
					//- (style="font-size: 15px")
					.form-group.row
						label.col-sm-3.col-form-label(for='inputFirstName') First Name
						.col-sm-9
							input#inputFirstName.form-control(type='text', name='inputfirst', placeholder='Viktor' required)
					.form-group.row
						label.col-sm-3.col-form-label(for='inputLastName') Last Name
						.col-sm-9
							input#inputLastName.form-control(type='text', name='inputlast', placeholder='Gul' required)
					.form-group.row
						label.col-sm-3.col-form-label(for='inputEmail') Email
						.col-sm-9
							.input-group
								span#basic-addon1.input-group-addon @
								|  
								input.form-control(type='email', name='inputemail', placeholder='example@gmail.com', aria-describedby='basic-addon1' required)

							//- input#inputEmail.form-control(type='email', name='inputemail', placeholder='example@gmail.com' required)
							button.btn.btn-primary.btn-block.navbar-btn.navbar-right(type='submit') Submit

							






						//- input(type='text', name='inputfirst', placeholder='type Firstname here' required)
						//- br
						//- p Lastname
						//- input(type='text', name='inputlast', placeholder='type Lastname here' required)
						//- br
						//- p Email
						//- input(type='email', name='inputemail', placeholder='type name here' required)
						//- br
						//- input(type='submit', value='Submit')



			
		//- 	input(type"hidden", name="_method", value="PUT")
		//- 		p Name
		//- 		input(type="text", name="name");
		//- 	img(src='http://www.dierenartsvankessel.nl/images/pictures/degoe.jpg')
