html
	head
		body(style="background-color:black; color:white; text-align: center; font-family: helvetica")
			h1 Searchform
				form(action='/signup', method="post")(style="font-size: 15px")
					p Search Name
					input(type='text', name='firstname', placeholder='type name here')
					br
					br
					input(type='submit', value='Submit')

			
		//- 	input(type"hidden", name="_method", value="PUT")
		//- 		p Name
		//- 		input(type="text", name="name");
		//- 	img(src='http://www.dierenartsvankessel.nl/images/pictures/degoe.jpg')
