html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
	body
			//- (style="background-color:black; color:white; text-align: center; font-family: helvetica")
	nav.navbar.navbar-light.bg-faded
		a.navbar-brand(href='/') User Info App
		button.btn.btn-danger.navbar-btn.navbar-right(style='margin-right:10',type='button', onclick="location.href='/search';") Search User
		button.btn.btn-warning.navbar-btn.navbar-right(style='margin-right:10',type='button', onclick="location.href='/newUser';") Add User
		button.btn.btn-success.navbar-btn.navbar-right(type='button', onclick="location.href='/';") All Users

	.container(style='text-align:center')
		h1 All users
		each user in keyList
			.card.card-block
				h3.card-title #{user.firstname} #{user.lastname}
				p.card-text   #{user.email}
		
	script(src='src/js/jquery-3.1.1.min.js')
	script(src='src/js/bootstrap.min.js')



