html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
	body
			//- (style="background-color:black; color:white; text-align: center; font-family: helvetica")
	nav.navbar.navbar-light.bg-faded
		a.navbar-brand(href='/') User Info App
		button.btn.btn-danger.navbar-btn.navbar-right(style='margin-right:10')(type='button', onclick="location.href='/search';") Search User
		button.btn.btn-warning.navbar-btn.navbar-right(style='margin-right:10')(type='button', onclick="location.href='/newUser';") Add User
		button.btn.btn-success.navbar-btn.navbar-right(type='button', onclick="location.href='/';") All Users
	

	.container
		.row
			.col-xs-6.offset-xs-3
				form(action='/matching', method="post" style="font-size: 15px")
					br
					h4 Searchform
					br
					.form-group.row
						label.col-sm-2.col-form-label(for='inputName') Name
						.col-sm-10
							input#inputName.form-control(type='text', name='input', placeholder='type name here')
							button.btn.btn-primary.btn-block.navbar-btn.navbar-right(type='submit') Submit
					

			
		//- 	input(type"hidden", name="_method", value="PUT")
		//- 		p Name
		//- 		input(type="text", name="name");
		//- 	img(src='http://www.dierenartsvankessel.nl/images/pictures/degoe.jpg')
